.producto__selecionado {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 95px;
}

.cart__principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 90%;
    height: 100%;
    margin: 5px;
    padding: 20px;
}

.cart__title {
    text-align: center;
    padding: 5px;
}

.list__cart {
    list-style: none;
}

.div__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precio__total {
    background-color: #fff;
    width: 90%;
    height: 100%;
    padding: 20px;
    margin: 5px;
}
