.menu__principal {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    box-shadow: 0 0 10px 25px #1111;
    width: 90%;
}

.menu__item {
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.active {
    transform: translateY(-2px);
}

/* numero foltante de carrito*/
.totalItems {
   font-weight: bold;
   position: absolute;
   top: -9px;
   right: 0;
}

/* numero flotante de favoritos*/
.fav {
    position: absolute;
    top: -11px;
    right: -5px;
    font-weight: bold;
}