                /*  BTN-VOLVER  */
/*ajustes del boton volver de las paginas*/

.container__volver {
    position: relative;
}

.btn__volver {
    position: absolute;
    top: 1.2rem;
    left: 10px;
    border: none;
    background-color: transparent;
}

.arrow__volver {
    width: 30px;
    height: 30px;
}


.btn__volver:hover {
    font-size: 2.2rem;
    top: 1.1rem;
    transition: 0.5s ease;
}