
.container__perfil {
    display: flex;
    justify-content: center;
}

.perfil {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #3335;
    color: #000;
    font-weight: 100;
    width: 98%;
    justify-content: space-between;
    border-radius: 30px;
}

.perfil__div {
    display: flex;
}

.logo {
    width: 40px;
    margin-left: 10px;
}

.perfil__mi {
    margin: 5px;
    padding: 5px;
}