body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    height: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* titulo productos (app)*/

.title__principal {
    padding: 20px 40px;
    margin: 0;
    background-color: #fff;
    z-index: 10;
    border-radius: 7px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* estilos de los listas productos (productList) */

.producto__lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* diseño de los productos (productCart) */

.producto__card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.card__image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
}

.card__title {
    font-size: 1rem;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000;
}

.prime {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

.btn__agregar {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.btn__agregar:hover {
    background-color: #555;
}

/*diseño del icono flotante (irToCart) */

.cart {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 20;
}

.cart__to {
    border-radius: 50%;
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 6px #0001;
    color: #333;
    text-decoration: none;
    transition: transform 0.2s;
}

.cart__to:hover {
    transform: scale(1.1);
}

.cantidad__cart {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

                                /* Seccion del carrito (cart) */

.container__cart {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;  
}

.producto__selecionado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100vh;
}

.cart__principal {
    background-color: #fff;
    padding: 0 10px;
} 

.cart__title {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    margin: 0;
}

.list__cart {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.div__cart {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    position: relative;
}

.div__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 25px;
}

.title__product {
    display: block;
    padding-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 92%;
}

.btn__borrar {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.btn__borrar:hover {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

.container__btn {
    padding: 5px 0;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 105px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}

.btn__menMax {
    border: none;
    background-color: #fff;
    padding: 0 10px;
    margin: 0 1px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 15px #0001;
}

.btn__menMax:hover {
    background-color: #bbb;
}

.precio {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 0;
}

.total__pagar {
    text-align: center;
}

.vacio__icon {
    padding: 10px;
    text-align: center;
}

/* barra del los precios, decuentos, total a pagar */
.precio__total {
    padding: 0 20px;
    background-color: #fff;
}

.envio {
    display: flex;
    justify-content: space-between;
    color: #008000;
}

.link {
    text-decoration: none;
}

.cupon {
    color: #00f;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
}

.p__total {
    font-size: 18px;
}

.ahorro__1 {
    color: #008000;
    font-weight: 400;
}

.continuar__compra {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
}

.btn__compra {
    background-color: #48e;
    border: none;  
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

/* media queries del carrito */
@media screen and (min-width:900px) {
    .producto__selecionado {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 20px;
    }

    .cart__principal {
        flex: 2;
        border-radius: 8px;
        margin-left: 20px;
    }

    .precio__total {
        flex: 1;
        box-shadow: 0 10px 20px #0001;
        border-radius: 8px;
        margin-right: 20px;
    }
}


                /*section de los Cupones (cupon) */

.section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 10;
}

.title__cupones {
    font-size: 26px;
    margin-left: 10px;
}

.acordion__container {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin-top: auto;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 25px 15px #0001;
}

.acordion__header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow__icon {
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid #00f;
    border-bottom: 2px solid #00f;
    transform: rotate(-135deg);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}

.arrow__icon.rotate {
    transform: rotate(45deg);
}

.acordion__content {
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
}

.inner__padding {
    padding: 20px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.span__flecha {
    color: #45e;
    font-size: 18px;
}

.text__cupon {
    padding: 16px;
    border-radius: 7px;
    border: 1px solid #bbb;
    margin-bottom: 20px;
}

.btn__cupon {
    padding: 12px;
    color: #aaa;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn__cupon:hover {
    background-color: #47e;
    color: #fff;
}


/* seccion del procentaje del envio (barraEnvio) */

.container__barra {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 18px;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.container__envio {
    margin-top: 15px;
    color: #008000;
}

.barra__fondo {
    width: 100%;
    height: 14px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.barra__color {
    height: 100%;
    transition: width 0.4s ease-in-out background-color 0.5s ease;
}


.porcentaje__envio {
    font-weight: 700;
    font-size: 18px;
}

.s__faltante {
    font-weight: 600;
}


       /* colores de porcentaje de envio gartis */

.colorRojo {
    color: #EF4444;
}

.colorVerde {
    color: #22C55E;
}

.colorAmarillo {
    color: #F59E0B;
}


            /* colore de la barra de envio gratis */
.rojo {
    background-color:#EF4444;
}

.verde {
    background-color:#22C55E;
}

.amarillo {
    background-color:#F59E0B;
}


                /* secion del historial de cupones (historialCupon) */


.historial__container {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9fafb;
    border-radius: 8px;
    border: 1px dashed #d1d5db;
}

.historial__title {
    font-size: 0.9rem;
    color: #374151;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.historial__lista {
    list-style: none;
    padding: 0;
}

.historial__item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #e5e7eb;
}



            /* producto link */

.producto__to {
    height: 300px;
    text-decoration: none;
}


            /*  PRODUCT-DETALLE */
/* detalles del producto */

.detalle__contenedor {
    border-radius: 7px;
}

.detalle__contenido {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.detalle__titulo {
    background-color: #fff;
    padding: 35px 10px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}


.detalle__info {  
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}


.detalle__image {
    max-width: 400px;
    object-fit: contain;
}

.detalle__info {
    font-weight: 200;
    font-size: 18px;
}

.detalle__price {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 20px 0;
}

.btn__add {
    background-color: #48e;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


                /*  COMPRA-AHORA  */
/* section del garantia del producto*/

.garantia {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: entradaSuave 0.6s forwards;
}

.title__garantia {
    padding: 10px 0;  
}

.garantia__tipo {
    background-color: #fff;
    border-radius: 4px;
    width: 600px;
    padding: 0 20px;
}

.garantia__product {
    display: flex;
    align-items: center;
}

.container__image {
    border: 3px solid #07b00f;
    border-radius: 50%;  
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.proteccion__product {
    padding-left: 15px;
}

.proteccion__para {
    color: #808080;
    font-size: 0.9rem;
    font-weight: 100;
}

.proteccion__title {
    font-weight: 200;
}

.image__garantia {
    width: 40px;
    height: 60px; 
    object-fit: cover;
}


/* ajuste de pantalla mediana*/

@media screen and (max-width: 700px) {
    .garantia__tipo {
        width: 70%;
    }
}


        /* garantias extendidas */

.opcion {
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.garantia__tipo {
    animation: fadeInSlide 0.5s ease forwards;
    opacity: 0;
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* border del cuandro selecion de garantia*/

.opcion.active {
    border: 2px solid #48e;
}

/* garantias de meses */

.garantia__meses {
    display: flex;
    flex-direction: column;
}

.garantia__precio {
    font-weight: 100;
    padding-left: 20px;
}

.garantia__descuento {
    background-color: #b0f4b0;
    border-radius: 5px;
    padding: 5px;
    color: #066806;
}

/* botones de no, aceptar garantia*/
.btn__garantia {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    height: 120px;
    text-align: center;
}

.garantia__aceptar {
    border: none;
    padding: 15px 60px;
    margin: 20px 5px 0 5px;
    border-radius: 5px;
    font-size: 16px;
}

.no--garantia {
    color: #47e;
    background-color: #47e3;
}

.agregar--garantia {
    color: #fff;
    background-color: #47e;
}

/* aceptar la garantia estilo*/

.condiciones__garantia {
    font-size: 14px;
    font-weight: 100;
}

.terminos__condiciones {
    text-decoration: none;
}

/* animacion de pagina cargando */
.animation {
    width: 24px;
    height: 24px;
    border: 3px solid #fff3;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to { transform: rotate(350deg);}
}

.btn__loading {
    opacity: 0.8;
    cursor: not-allowed;
    background-color: #1e7e34;
}

/* animacion de entrada a la pagina */
.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-out {
    opacity: 0;
    transform: translateY(-20px);
    transform: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
}

@keyframes entradaSuave {
    from {
        opacity: 0; transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

                /*  BTN-VOLVER  */
/*ajustes del boton volver de las paginas*/

.container__volver {
    position: relative;
}

.btn__volver {
    position: absolute;
    top: 1.2rem;
    left: 10px;
    border: none;
    background-color: transparent;
    font-size: 30px;
}

.btn__volver:hover {
    font-size: 2.2rem;
    top: 1.1rem;
    transition: 0.5s ease;
}


                /*  DIRECCION   */
/* diseño del registro de direccion de envio del producto*/

