body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    height: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
}

.title__principal {
    padding: 20px 40px;
    margin: 0 0 25px 0;
    background-color: #fff;
    z-index: 10;
    border-radius: 7px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.producto__lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.producto__card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.card__image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
}

.card__title {
    font-size: 1rem;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000;
}

.prime {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

.btn__agregar {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.btn__agregar:hover {
    background-color: #555;
}

.cart {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 20;
}

.cart__to {
    border-radius: 50%;
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 6px #0001;
    color: #333;
    text-decoration: none;
    transition: transform 0.2s;
}

.cart__to:hover {
    transform: scale(1.1);
}

.cantidad__cart {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

                                /* seccion del carrito */

.container__cart {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 10px 20px #0001;
    padding-top: 10px;
}

.cart__title {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 0;
}

.list__cart {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.div__cart {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    position: relative;
}

.div__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 25px;
}

.title__product {
    display: block;
    padding-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 92%;
}

.btn__borrar {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.btn__borrar:hover {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}

.container__btn {
    padding: 5px 0;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 105px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}

.btn__menMax {
    border: none;
    background-color: #fff;
    padding: 0 10px;
    margin: 0 1px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 15px #0001;
}

.btn__menMax:hover {
    background-color: #bbb;
}

.precio {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 0;
}

.total__pagar {
    text-align: center;
}

@media screen and (min-width:600px) {
    .container__cart {
        width: 80%;
        border-radius: 10px;
    }
}

.p__1 {
    padding: 10px;
}

.p__2 {
    padding: 10px;
}

.precio__total {
    padding: 10px;
}

.envio {
    display: flex;
    justify-content: space-between;
    color: #008000;
}

.link {
    text-decoration: none;
}

.cupon {
    color: #00f;
    cursor: pointer;
    
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
}

.p__total {
    font-size: 18px;
}

.ahorro__1 {
    color: #008000;
    font-weight: 400;
}

.continuar__compra {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
}

.btn__compra {
    background-color: #48e;
    border: none;  
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}


                /*section de los Cupones*/

.section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 10;
}

.title__cupones {
    font-size: 26px;
    margin-left: 10px;
}

.acordion__container {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin-top: auto;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 25px 15px #0001;
}

.acordion__header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow__icon {
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid #00f;
    border-bottom: 2px solid #00f;
    transform: rotate(-135deg);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}

.arrow__icon.rotate {
    transform: rotate(45deg);
}

.acordion__content {
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
}

.inner__padding {
    padding: 20px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.span__flecha {
    color: #45e;
    font-size: 18px;
}

.text__cupon {
    padding: 16px;
    border-radius: 7px;
    border: 1px solid #bbb;
    margin-bottom: 20px;
}

.btn__cupon {
    padding: 12px;
    color: #aaa;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn__cupon:hover {
    background-color: #47e;
    color: #fff;
}


/* seccion del procentaje del envio */


.container__barra {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 18px;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.container__envio {
    margin-top: 15px;
    color: #008000;
}

.barra__fondo {
    width: 100%;
    height: 14px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.barra__color {
    height: 100%;
    transition: width 0.4s ease-in-out background-color 0.5s ease;
}


.porcentaje__envio {
    font-weight: 700;
    font-size: 18px;
}

.s__faltante {
    font-weight: 600;
}


       /* colores de porcentaje de envio gartis */

.colorRojo {
    color: #EF4444;
}

.colorVerde {
    color: #22C55E;
}

.colorAmarillo {
    color: #F59E0B;
}


            /* colore de la barra de envio gratis */
.rojo {
    background-color:#EF4444;
}

.verde {
    background-color:#22C55E;
}

.amarillo {
    background-color:#F59E0B;
}


                /* secion del historial de cupones */


.historial__container {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9fafb;
    border-radius: 8px;
    border: 1px dashed #d1d5db;
}

.historial__title {
    font-size: 0.9rem;
    color: #374151;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.historial__lista {
    list-style: none;
    padding: 0;
}

.historial__item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #e5e7eb;
}



            /* producto link */

.producto__to {
    height: 300px;
    text-decoration: none;
}


        /* detalles del producto */

.detalle__contenedor {
    background-color: #fff;
    border-radius: 7px;
    margin-top: -15px;
}

.detalle__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.detalle__info {
    max-width: 600px;
}

.detalle__titulo {
    padding: 0 20px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
}


.detalle__image {
    max-width: 400px;
    object-fit: contain;
}

.detalle__info {
    font-weight: 200;
    font-size: 18px;
}

.detalle__price {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 20px 0;
}

.btn__add {
    background-color: #48e;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


/* section del garantia */


.container__garantia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.garantia {
    background-color: #fff;
    border-radius: 4px;
    width: 600px;
    
}

.garantia__product {
    display: flex;
    align-items: center;
}

.container__image {
    border: 2px solid #07640b;
    border-radius: 50%;  
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.image__garantia {
    width: 20px;
    height: 40px; 
    object-fit: cover;
}

